[submodule "Arduboy-Python-Utilities"]
	path = Arduboy-Python-Utilities
	url = https://github.com/MrBlinky/Arduboy-Python-Utilities.git
[submodule "Font4x6"]
	path = Font4x6
	url = https://github.com/filmote/Font4x6.git
[submodule "ArduGray_Demo"]
	path = ArduGray_Demo
	url = https://github.com/tiberiusbrown/ArduGray_Demo.git
[submodule "ArduboyFXFonts"]
	path = ArduboyFXFonts
	url = git@github.com:FreezingSnail/ArduboyFXFonts.git
